@media screen and (min-width: 32.5em) {
    body {
        background-color: salmon;
    }
}

@media screen and (min-width: 40.5em) {
    body {
        background-color: rgb(114, 168, 250);
    }
}

@media screen and (min-width: 52.5em) {
    body {
        background-color: rgb(207, 207, 207);
    }
}