@media only screen and (max-width: 615px) {
    #nav-bar {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    nav li {
        flex-basis: 100%;
        display: block;
    }
    .logo {
        grid-column: 1/5;
        grid-row: 1;
    }
    nav {
        grid-column: 2/6;
        grid-row: 2;
        margin-top: 1.5em;
        text-align: center;
    }
    .menu2 {
        margin-right: 1em;
    }
    nav li {
        margin: 0 auto;
    }
    nav button {
        /* margin: .2rem 2vw; */
        background: transparent;
        border: none;
        font-size: 2rem;
        color: #008037;
        float: left;
        grid-column: 1;
        grid-row: 2;
        margin-left: -1.7em;
    }
    .item {
        margin-right: 4.5rem;
    }
    nav ul {
        display: none;
    }
    nav ul.open {
        display: block;
        text-align: center;
    }
    #first {
        margin-right: 5em;
    }
    .great-paf2 {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        text-align: center;
        grid-column: 1/5;
        grid-row: 6;
    }
    #paf1 {
        grid-column: 1/5;
        grid-row: 3;
    }
    #paf1 img {
        grid-column: 1/5;
        grid-row: 1;
        width: 100%;
    }
    #paf1 h2 {
        grid-column: 1/5;
        grid-row: 2;
        text-align: center;
    }
    #paf1 p {
        grid-column: 1/5;
        grid-row: 3/4;
        padding: 1em;
    }
    #paf2 {
        position: relative;
        width: 100%;
        height: auto;
    }
    #paf2 img {
        position: relative;
    }
    #paf2 h2 {
        padding: .8em;
        position: relative;
    }
    #paf3 {
        grid-column: 1/5;
        grid-row: 5;
        text-align: center;
    }
    #paf3 span {
        display: none;
    }
    #paf4 {
        grid-column: 1/5;
        grid-row: 4;
        text-align: center;
    }
    #paf4 h2 {
        grid-column: 1/5;
        grid-row: 2;
    }
    #paf4 span {
        display: block;
        grid-column: 1/5;
        grid-row: 3;
        text-align: center;
    }
    #paf4 img {
        grid-column: 1/5;
        width: 100%
    }
    #paf5 {
        grid-column: 1/5;
        grid-row: 2;
        height: 250px;
    }
    .show-banner {
        display: flex;
        flex-wrap: wrap;
        height: 185px;
        position: initial;
        grid-row: 2;
        padding: 1.5em;
    }
    #btn-p {
        margin: auto;
        height: 40px;
        width: 100px;
        align-items: center;
        justify-content: center;
    }
    .footer {
        display: grid;
        grid-template-columns: auto;
        grid-gap: .2em;
        padding: 1em;
        background-color: #eee;
    }
    #last-cont {
        grid-column: 1/5;
        grid-row: 3;
        text-align: center;
    }
    #footer-cont {
        grid-column: 1/5;
        grid-row: 2/3;
        padding: 1em;
        text-align: center;
        font-size: 1.1em;
        margin-left: 1.5em;
    }
    #footer-cont p {
        margin: .5em;
    }
    .footer img {
        grid-column: 1/5;
        grid-row: 1;
        width: 90%;
        margin-left: 1.8em;
        margin-top: 0px;
        text-align: center;
    }
}