body {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
}

h1 {
    grid-column: 1;
    text-align: center;
    font-size: 3em;
}

#container img {
    width: 400px;
    height: 300px
}