    body {
        max-width: 960px;
        min-width: 50px;
        margin: 0 auto;
        font-family: 'Chakra Petch', sans-serif;
        padding: 0.5em
    }
    
    header {
        background-color: grey;
        text-align: center;
        padding: 15px
    }
    
    header h1 {
        margin: 2px;
        color: white;
    }
    
    header p {
        margin: 0px;
        color: white;
    }
    
    h2 {
        padding: 12px;
        background-color: grey;
        text-align: center;
        color: white;
        margin-bottom: 5px;
    }
    
    p {
        padding: 12px;
        background-color: rgba(3, 136, 160, 0.623);
        color: white;
    }
    
    #hd1 {
        text-align: center;
        background-color: rgba(3, 136, 160, 0.623);
        padding: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    #hd2 {
        text-align: center;
        background-color: rgba(3, 136, 160, 0.623);
        padding: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    #hd3 {
        text-align: center;
        background-color: rgba(3, 136, 160, 0.623);
        padding: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    footer {
        text-align: center;
        background-color: grey;
        padding: 7px;
        color: white;
    }
    
    section p {
        text-align: justify;
    }
    
    @media screen and (min-width:37.5em) {
        header {
            display: grid;
            grid-template-columns: 1fr;
        }
        section {
            display: grid;
            grid-gap: 1em;
            grid-template-columns: 1fr;
        }
        #cont {
            grid-column: 1/2;
            grid-row: 1;
        }
        #cont2 {
            grid-column: 2/4;
            grid-row: 1;
        }
        #cont3 {
            grid-column: 1/4;
            grid-row: 2/4;
            text-align: center;
        }
        #p-2 {
            text-align: justify;
            margin: 10px;
        }
        #cont3 a {
            margin: 0px;
        }
        #p-1 {
            text-align: center
        }
        footer {
            grid-column: 1/4;
            grid-row: 5;
        }
    }
    
    @media only screen and (min-width: 55em) {
        header {
            display: grid;
            grid-template-columns: 1fr;
        }
        section {
            display: grid;
            grid-gap: 1em;
            grid-template-columns: 1fr;
        }
        #cont {
            grid-column: 1/2;
            grid-row: 1;
            align-content: center;
        }
        #cont2 {
            grid-column: 2;
            grid-row: 1;
        }
        #cont3 {
            grid-column: 3;
            grid-row: 1;
        }
        footer {
            grid-column: 1/4;
            grid-row: 4;
        }
    }